<header>
    <!-- *ngIf="isLogged$ | async as isLoggedIn" -->
    <div class="example-button-row" *ngIf="isLogged$ | async; else logoutButton">
        <button mat-stroked-button  routerLink="/signup" (click)="logout()" color="primary">logout</button>
    </div>
      <ng-template #logoutButton>
        <div class="example-button-row">
            <button mat-stroked-button   routerLink="/login" color="primary">Login</button>
            <button mat-stroked-button  routerLink="/signup" color="primary">Signup</button>
        </div>
      </ng-template>
</header>
<router-outlet></router-outlet>
<!-- <button mat-stroked-button  routerLink="/signup" (click)="logout()" color="primary">logout</button> -->
